.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  padding-left: 160px;
}

.App-header {
  background-color: #0066cc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-version {
  font-size: 2.5em;
}

.gridLayout {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
